@import './_reset.css';
@import './_variables.css';
@import './_icons.css';
@import './_util.css';

html {
	font-family: var(--font-geometric-humanist), sans-serif;
	color: white;
	background-color: var(--uchu-yin-9);
}

body {
	background: linear-gradient(to right bottom, var(--uchu-yin-8), var(--uchu-yin-9));
	/* padding: 2rem; */
}
